body{
    background-image: url(Hosp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    text-align: center;
    background-size: cover;
}
h1{
   background-color: rgb(232, 218, 218);
   color: rgba(10, 49, 175, 0.838);
}

.form-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 80px;
    background: rgb(232, 218, 218);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.logo{
    width: 45px;
    height: 35px;
    background-color: transparent;
    position: absolute;
    margin-left: 40%;
    top: 20px;
}


.ghs{
    width: 135px;
    height: 37px;
    background-color: transparent;
    position: absolute;
    margin-left: -44%;
    top: 21px; 
}
.Appointment{
    width: 70px;
    height: 65px;
    background-color: transparent;
    position: absolute;
    margin-left: 30%;
    top: 10px;
}
.da{
    position: absolute;
    margin-left: 84%;
    top: 20px; 
    text-align: justify;
    font-family: arial;
    font-size: x-small;
}
input, select, button {
    width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}
.register:hover{
    background-color: rgb(226, 235, 235);
} 