body{
    background-color: aqua;
    font-family: sans-serif;
    text-align: center;
}
.form-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 80px;
    background: rgb(232, 218, 218);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.logo{
    width: 200px;
    height: 150px;
}
input, select, button {
    width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}
.register:hover{
    background-color: rgb(226, 235, 235);
} 